@model IEnumerable<string>
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewBag.Title = "AutofacHome";
}
<h1>Cities</h1>
<ul>
    @foreach (string city in Model)
    {
        <li>@city</li>
    }
</ul>

<div>
    @ViewBag.Instance_CitiesService
</div>
<div>
   childScope: @ViewBag.Instance_CitiesService_Scoped
</div>
<div>
    id dev: @ViewBag.dev
</div>

<environment include="Staging">
    hi, this is Staging
</environment>